extends ./layout.pug

block css 
  link(rel="stylesheet" href="https://vjs.zencdn.net/7.0.0/video-js.css")
  link(rel="stylesheet" href="/stylesheets/streaming.css")

block script
  script(src="https://unpkg.com/video.js/dist/video.js")
  script(src="https://unpkg.com/videojs-flash/dist/videojs-flash.js")
  script(src="https://cdn.jsdelivr.net/npm/@videojs/http-streaming@2.8.2/dist/videojs-http-streaming.min.js")

block title
  title #{id}님의 방송

block content 
  .video-container
    video(id="video" class="video-js vjs-default-skin" controls preload="auto" width="1280" height="720" data-setup="{}")
      source(src="#{url}/master.m3u8")
  
  script.
    //- const player = videojs("video", {
    //-   hls: {
    //-     smoothQualityChange: true,
    //-   },
    //- });
    const player = videojs("video");
    player.src({
      src: "#{url}/master.m3u8",
      type: "application/x-mpegurl"
    });
    player.play();
